body{
		font-family: 'Kanit', sans-serif;
		font-weight: 400;
}
.Extrapadding{
	padding-left: 6%;
	padding-right: 6%;
}
.header{
		width: 100%;
		float: left;
}

.navbar{
		background-color: #648cff;
		left: 0;
		right: 0;
		top: 0;
		margin: 0;
		z-index: 555;
		border-radius: 0;
		border:0;
}
.navbar-header {
		margin-right: 0;
}
.navbar-nav{
	padding-left: 10%;
}
.navbar-brand{
		margin-top: -13px;
}

.icon-bar{
		background-color: #fff;
}

.navbar-nav li{
		margin-right: 0px;
		color: #fff;
}
.navbar-right{
		color: #fff;
}
		.fa-facebook,
		.fa-twitter,
.fa-camera{
		font-size: 18px;
		color: #fff;
}
.home{
		width: 100%;
		float: left;

}
.banner{
		width: 100%;
		float: left;
		background:url(../images/bg.png) no-repeat 100% 100%;
		background-size: 100% 100%;
}
.home-img{
		width: 400px;
		margin-top: 100px;
		display: inline-block;
}
.icon-img{
		display: inline-block;
		text-align: center;
		padding-bottom: 50px;
		width: 35px;
		border: none;
		overflow: hidden;
		background-color: transparent;
}
.home-text{
		margin-top: 100px;
		text-align: left;
		color: #fff;

}
.home-btns{
		margin-top: 50px;
}
		.btn-2,
.btn-1{  
		border-radius: 2px;
		display: inline-block;
		padding: 7px 25px 7px 25px;
		color: #fff;
		text-align: center;
		cursor: pointer;
		text-decoration: none;
		border: 0;
		overflow: hidden;
}
.btn-1{
		background-color: #fc6a41;
}
.btn-2{
		background-color: #4466c8;
}
.features{
		float: left;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
}
.colors,
.effects,
.usability{
		padding-top: 50px;
}
.colors-icon,
.effects-icon,
.usability-icon{
		margin-top: 20px;
		display: inline-block;
}
.colors-text,
.effects-text,
.usability-text{
		float: right;
		margin-left: 20px;
}
.simlpe-widgets{
		width: 100%;
		float: left;
}
.slider{
	float: left;
	width: 100%;
}
.screen-shot{
		float: left;
		width: 100%;
		padding-bottom: 50px;
}
.shoot-img{
		width: 400px;
		display: inline-block;
}
.shot-text{
		padding-top: 100px;

}
.people-saying{
	float: left;
	width: 100%;
	padding-bottom: 50px;
}
.coma{
		overflow: hidden;
		font-size: 100px;
		color: #648cff;
}
.coma2{
		font-size: 50px;
		color: #648cff;
}
.ads{
	float: left;
	width: 100%;

}
.google-ad{
	width: 100%;
	float: left;
	background-color: #648cfe;
	padding-top: 40px;
}
.ad-text{
	padding-top: 25px;
	padding-bottom: 25px;
	color: #fff;
}
.footer-nav{
   float: left;
   width: 100%;
   padding: 50px 0px;
   background-color: #343855;
}
.copyright{
	width: 100%;
	float: left;
		background-color: #343855;
}
.footer-end{
	color:#4f5180;
	padding: 20px 0;
	font-size: 11px;

}
.footer-booder{
	border-top: 1px solid #444768;

}
.aa{
	padding:0 18%;
}
/*slider*/

/*----------------------------*\
      Coverflow Album Slider 
\*-----------------------------*/
.coverflow {
  position: relative;
  padding: 30px;
  height:600px;
  overflow: hidden;
  -webkit-perspective: 100%;
  perspective: 100%;
}

.coverflow__image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.coverflow__image[data-coverflow-index] {
  position: absolute;
  left: 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.coverflow__image[data-coverflow-index]:before {
  content: " ";
  z-index: 1;
  position: absolute;
  top: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 10;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) ;
  transform: translateX(10px) scale(0.65) ;
  : 0.5;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 8;
  -webkit-transform: translateX(25%) scale(0.5) ;
  transform: translateX(35%) scale(0.5) ;
  : 0.33333;
}



.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 9;
  -webkit-transform: translateX(-100%) scale(0.65) ;
  transform: translateX(-100%) scale(0.65) ;
  : 0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 10;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) ;
  transform: translateX(10px) scale(0.65) ;
  : 0.5;
}



.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 8;
  -webkit-transform: translateX(-100%) scale(0.5) ;
  transform: translateX(-135%) scale(0.5) ;
  : 0.33333;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 9;
  -webkit-transform: translateX(-100%) scale(0.65) ;
  transform: translateX(-100%) scale(0.65) ;
  : 0.5;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 10;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


.prev-arrow,
.next-arrow {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  padding: 1.5rem 2rem;
  font-size: 3rem;
  line-height: 3rem;
  background: transparent;
  border-radius: 1rem;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color 200ms, background 200ms;
  transition: color 200ms, background 200ms;
  cursor: pointer;
}

.prev-arrow:hover,
.next-arrow:hover
{
	background-color:transparent;
  cursor: pointer;
}

.prev-arrow {
  left: 0%;
  z-index: 555;
}

/*.prev-arrow:before {
  content: "❮";
}*/

.next-arrow {
  right: 0%;
}
/*
.next-arrow:after {
  content: "❯";
}*/
@media only screen and (max-width: 425px) and (min-width: 321px) {
	.coverflow {
		height: 230px;
	}
}
@media only screen and (max-width:320px) {
  .coverflow {
	  height: 190px;
	}
}
@media only screen and (max-width:768px) and (min-width: 426px) {
  .coverflow {
	  height: 400px;
	}
}
@media only screen and (max-width:1024px) and (min-width: 769px) {
  .coverflow {
	  height: 500px;
	}
}